@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,500&display=swap');

:root {
    --var-backgroud-dynamic-text: #181c21;
    --var-backgroud-main: rgb(0 0 0 / 25%);
    --var-background-page: #20262E;
    --var-home: #00ade1;
    --var-about: #aa8aff;
    --var-rea: #d54362;
    --var-cv: #fec015;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: #20262E;
}

.main-body {
    padding: 50px 70px 50px 70px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 50px 10px 50px;
    font-size: 17px;
    font-weight: bold;
    align-items: center;
    text-transform: uppercase;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 35px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar #toggle,
.navbar label {
    display: none;
}

.navbar ul li a {
    padding: 25px 15px 25px 15px;
}

.navbar ul li a:hover {
    background-color: rgb(0 0 0 / 5%);
    padding: 25px 15px 25px 15px;
    border-bottom: solid 3px white;
    transition: .2s ease;
    text-decoration: none;
}

.navbar a img,
label img {
    width: 50px;
    height: 50px;
}

.main {
    display: flex;
    background: var(--var-backgroud-main);
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.name-text {
    display: flex;
    gap: 40px;
    width: 100%;
    justify-content: space-around;
}

.name-text-arrow {
    flex-direction: column;
}

.infos {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.name-job {
    color: white;
    font-size: 55px;
}

.static {
    color: white;
}

.dynamic-text {
    color: var(--var-home);
}

.static,
.dynamic-text {
    font-size: 30px;
    position: relative;
    width: 100%;
}

.dynamic-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #181c21;
    border-left: 5px solid #ffffff;
    animation: cursor 4s steps(12) infinite;
    -webkit-animation: cursor 4s steps(12) infinite;
}

@keyframes cursor {

    40%,
    60% {
        left: calc(100% + 4px);
    }

    100% {
        left: 0%;
    }
}

.page-scroll {
    display: flex;
    justify-content: center;
    margin-top: 30%;
}

.down-arrow {
    width: 70px;
    transition: .2s ease;
}

.photo-cv {
    background-size: cover;
    width: 250px;
    border-radius: 12px;
    margin-bottom: 30px;
}

.about,
.contact {
    display: flex;
    background: var(--var-backgroud-main);
    font-weight: 300;
    flex-direction: column;
    gap: 25px;
    border-radius: 10px;
    margin-bottom: 100px;
}

/* DEBUT COLOR BAND */

.color-band {
    background-color: var(--var-home);
}

.about-color-band {
    background-color: var(--var-about);
}

.realisations-color-band {
    background-color: var(--var-rea);
}

.contact-color-band {
    background-color: var(--var-cv);
}

.color-band, .about-color-band, .realisations-color-band, .contact-color-band {
    height: 10px;
    border-radius: 10px 10px 0px 0px;
}

/* FIN COLOR BAND */

/* DEBUT COULEUR TITRES */

.about-text h1 {
    color: var(--var-about);
}

.title-realisations h1 {
    color: var(--var-rea);
}

.contact-text h1 {
    color: var(--var-cv);
}

.about-text h1,
.title-realisations h1,
.contact-text h1 {
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* FIN COULEUR TITRES */

.about-text,
.title-realisations,
.contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.about-text h3,
.about-me h3,
.skills-text,
.title-realisations h3,
.contact-text h3 {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.about-skills,
.contact-cv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 35px;
    gap: 40px;
}

.about-me h2,
.skills h2 {
    color: var(--var-about);
    font-size: 28px;
    margin-bottom: 25px;
}

.about-me p,
.me-contact p,
.cv-text p {
    line-height: 1.5;
    margin-bottom: 15px;
    color: white;
}

.contact-me {
    background-color: var(--var-about);
    color: white;
    border: none;
    padding: 12px 17px;
    border-radius: 7px;
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
    display: flex;
    width: 23%;
    justify-content: center;
}

.contact-me:hover {
    background-color: #946efb;
    transition: .2s ease;
}

.skills-text {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.skills-skill {
    background-color: #20262E;
    padding: 15px 20px;
    border-radius: 7px;
    font-weight: 400;
}

.skills-skill:hover {
    background-color: #aa8aff;
    transition: .2s ease;
}

.realisations {
    display: flex;
    background: var(--var-backgroud-main);
    flex-direction: column;
    gap: 25px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.realisation {
    display: flex;
    padding: 30px 35px;
}

.projet1, .projet2, .projet3 {
    padding: 0px 0px 0px 35px;
}

.projet1 h1 {
    color: #7ebeab;
}

.projet2 h1 {
    color: #9c6afc;
}

.projet3 h1 {
    color: #3771dd;
}

.projet1 h1, .projet2 h1, .projet3 h1 {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 30px;
}

.projet1 p, .projet2 p, .projet3 p {
    color: white;
    line-height: 1.5;
    margin-bottom: 10px;
}

.skills-rea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
    gap: 15px;
}

.skill-rea {
    background-color: #20262E;
    color: white;
    padding: 15px 20px;
    border-radius: 7px;
    font-weight: 400;
}

.pic-rea-1, .pic-rea-2, .pic-rea-3 {
    width: 700px;
    border-radius: 7px;
}

.me-contact h2, .cv-text h2 {
    color: var(--var-cv);
    font-size: 28px;
    margin-bottom: 25px;
}

.icon-background, .icon-cv {
    background-color: var(--var-background-page);
}

.icon-cv, .icon-background {
    padding: 6px 17px;
    border-radius: 7px;
    transition: .2s ease;
    width: 23%;
    display: flex;
    justify-content: center;
}

.cv-icon, .phone-icon, .mail-icon {
    width: 55px;
}

.icon-background:hover, .icon-cv:hover {
    background-color: var(--var-cv);
}

.contact-background {
    display: flex;
    justify-content: space-around;
}

.footer {
    background: var(--var-backgroud-main);
    color: white;
    font-size: 17px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px 20px 20px 20px;
}

@media screen and (max-width: 868px) {

    .navbar a img,
    label img {
        width: 35px;
        height: 35px;
    }

    .main, .about, .realisations, .contact {
        margin-bottom: 35px;
        padding: 0px 0px 10px 0px;
    }

    .main {
        gap: 15px;
    }

    .main-body {
        padding: 30px 20px 0px 20px;
    }

    .name-text-arrow {
        width: 100%;
        display: flex;
        align-items: center;
        height: 85px;
    }

    .navbar, .footer {
        padding: 10px 30px 10px 30px;
    }

    .navbar .menu {
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0;
    }

    .navbar label {
        display: inline-flex;
        color: white;
        cursor: pointer;
    }

    .navbar #toggle:checked~.menu {
        height: 100%;
    }

    .dynamic-text:before {
        display: none;
    }

    .name-text {
        flex-direction: column;
        gap: 0;
    }

    .name-job {
        font-size: 25px;
    }

    .static,
    .dynamic-text {
        font-size: 17px;
    }

    .down-arrow {
        display: none;
    }

    .photo-cv {
        width: 140px;
    }

    .photo {
        justify-content: center;
        display: flex;
    }

    .about-me, .about-me-text p, .skills h2, .title-realisations, .title-contact, .title-cv {
        font-size: 25px;
        padding: 0px 12px;
        font-size: 17px;
    }

    .about-me h2, .skills h2, .me-contact h2, .cv-text h2 {
        font-size: 20px;
    }

    .about-text h1, .title-realisations h1, .contact-text h1 {
        font-size: 25px;
    }

    .about-skills, .contact-cv {
        grid-template-columns: 1fr;
        padding: 0;
        gap: 25px;
    }

    .about-text h3, .about-me h3, .skills-text, .contact-text h3, .me-contact, .cv-text {
        padding: 0px 10px;
    }

    .about-text h3, .about-me h3, .skills-text, .title-realisations h3, .contact-text h3, .me-contact p, .cv-text p {
        font-size: 17px;
    }

    .realisation {
        flex-direction: column;
        padding: 10px 10px;
    }

    .projet1, .projet2, .projet3 {
        padding: 0px;
    }

    .projet1 h1, .projet2 h1, .projet3 h1 {
        margin-top: 12px;
        margin-bottom: 12px;
        font-size: 20px;
    }

    .pic-rea-1, .pic-rea-2, .pic-rea-3 {
        width: 100%;
    }

    .icon-cv,
    .icon-background {
        padding: 7px 7px;
    }

    .position-cv {
        display: flex;
        justify-content: center;
    }
}